/* src/styles/global.css */
@import "tailwindcss";
/* src/styles/global.css */
@import "tailwindcss";

@theme {
  /* Paleta de Colores Globo Care (Actualizada) */
  --color-primary: #FF9500;       /* Nuevo Naranja solicitado */
  --color-primary-dark: #e68600;  /* Versión más oscura para Hover */
  
  --color-neutral-deep: #1A202C;  /* Se mantiene (Gris Oscuro) */
  --color-neutral-light: #F7FAFC; /* Se mantiene (Off-white) */
  
  --color-status-success: #38A169;
  
  /* Tipografía Unificada: Open Sans */
  --font-sans: 'Open Sans', sans-serif;
  --font-heading: 'Open Sans', sans-serif;
}

/* Estilos base globales */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  @apply h-full w-full;
  overflow-x: hidden;
}

